*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width:100vw;
    height:100vh;
    background-color: black;
    display: grid;
    place-items: center;
}

/* body::-webkit-scrollbar{
    display:none;
} */

#website{
    width:85vw;
    height:95vh; 
    display:flex;
    flex-wrap: wrap;
}

/* basic website layout */

#website header{
    width:100%;
    height:10%;
    color:white;
    display: flex;
    align-items:center;
}

#website .main-content, .right-side{
    width:75%;
    height:80%;
    max-height: 80%;
    box-shadow: 5px 0px 2px black;
    color:white;
}

#website .right-side{
    width:25%;
    overflow:hidden;
}

#website .audio-player{
        width:100%;
        height:10%;
}

/* header section css */

header nav{
    width:90%;
    margin:auto;
    display:flex;
    justify-content: space-between;

}
header nav ul{
    display:flex; 
}
header nav ul li{
    list-style: none; 
    position: relative;  
    font-size:16px;
    color: rgb(122, 122, 132);
    margin-right:45px;
    cursor: pointer;
    transition:0.3s linear;
}

header nav ul li:hover{
    color:white;
}

header nav ul li:nth-child(1){
    color:white;
}

header nav ul li:nth-child(1) span{
    position:absolute;
    width:100%;
    height:2.5px;
    background-color: aqua;
    bottom:0px;
    left:0;
}

header nav ul li:hover span{
    position:absolute;
    width:100%;
    height:2.5px;
    background-color: aqua;
    bottom:0px;
    left:0;
}
header nav .search{
    background-color: rgb(79, 10, 149);
    position:relative;
    width:35%;
    padding:10px 10px;
    border-radius: 20px;
    color:grey;
}

header nav .search .bi{
    font-size:13px;
    padding: 3px 0px 0px 10px;
}
header nav .search .bi:hover{
    color:white;
}
header nav .search input{
    color:white;
    background:transparent;
    border:none;
    outline:none;
    padding:0 10px;
}

header nav .user{
    position:relative;
    width:40px;
    height:40px;
    border-radius:50%;
    cursor:pointer;
}

header nav .user img{
    height:100%;
    width:100%;
    border-radius: 50%;
}
header nav .logo{
    display:flex;
    cursor:pointer;
}
header nav .logo .logo-img{
    position:relative;
    width:40px;
    height:40px;
}

header nav .logo .logo-img img{
    height:100%;
    width:100%;
    border-radius: 50%;
}

header nav .logo h1{
    font-size:20px;
    position:relative;
    top:5px;
    left:10px;
}

/*main content CSS*/

#website .main-content{
    max-height: 80%;
    overflow: auto;
    scroll-behavior: smooth;

}
#website .main-content::-webkit-scrollbar{
    display: none;
}


.main-content .song-card{
    width:90%;
    height:300px;
    display: flex;
    margin:auto;
}

.main-content .song-card img{
    width:100%;
    opacity:0.7;
    height:300px;
    padding:10px;
}

.main-content .song-card img:hover{
    opacity:1;
    transform: scale(1.1);
}


.main-content .song-card img:nth-child(1){
    padding-left:0px;
}


.main-content .popular-songs{
    width:90%;
    margin:auto;
    margin-top:30px;
    /* border:1px solid white; */
    
}

.main-content .popular-songs .card-heading{
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.main-content .popular-songs .card-heading h4{
    font-size:1rem;
    font-weight:400;
}


.main-content .popular-songs .bi{
    cursor:pointer;
    color: rgb(122, 122, 132);
    transition:0.3s linear;
}

.main-content .popular-songs .bi:hover{
    color:white;
}

.main-content .popular-songs .cards{
 width:100%;
 height:200px;
 margin-top:15px;
 display:flex;
 position: relative;
 overflow: auto;
 scroll-behavior: smooth;

}

.main-content .popular-songs .cards::-webkit-scrollbar{
    display:none;
}

.main-content .popular-songs .cards li{
    min-width: 120px;
    padding-left: 20px;
    /* border:1px solid white; */
    list-style: none;
}
.main-content .popular-songs .cards li:nth-child(1){
    padding-left: 0px; 
}

.main-content .popular-songs .cards li img{
    width:100%;
    height:70%;
}
.main-content .popular-songs .cards li h5{
    height:10%;
}
.main-content .popular-songs .cards li .bi{
    opacity: 0;
    position:relative;
    top:60px;
    left:40px;
    color:white;
}
.main-content .popular-songs .cards li:hover img{
    opacity:0.35;
}

.main-content .popular-songs .cards li:hover .bi{
    opacity:1;
}


.main-content .popular-artist{
    width:90%;
    margin:auto;
    margin-top:30px;
    /* border:1px solid white; */
    margin-top:15px;
}

.main-content .popular-artist .card-heading{
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.main-content .popular-artist .card-heading h4{
    font-size:1rem;
    font-weight:400;
}

.main-content .popular-artist .bi{
    cursor:pointer;
    color: rgb(122, 122, 132);
    transition:0.3s linear;
}

.main-content .popular-artist .bi:hover{
    color:white;
}


.main-content .popular-artist .item{
    width:100%;
    height:100px;
    margin-top:15px;
    display:flex;
    position: relative;
    overflow: auto;
    scroll-behavior: smooth;
    /* border:1px solid white; */
}
.main-content .popular-artist .item li{
    min-width: 120px;
    padding-left: 20px;
    /* border:1px solid white; */
    list-style: none;
}

.main-content .popular-artist .item li img:hover{
    opacity:0.5;
}

.main-content .popular-artist .item li img{
    width:90%;
    height:90%;
    margin-top:10px;
    border-radius: 50%;
}

.main-content .popular-artist .item::-webkit-scrollbar{
    display:none;
}

/* aside content CSS */

#website .right-side h1{
    font-size:20px;
    margin: 15px 0px 0px 20px;
}

#website .right-side .playlist{
    margin: 40px 0px 0px 20px;
}

#website .right-side .playlist h4{
    font-size:14px;
    font-weight:400;
    padding-bottom: 10px;
    color: rgb(12 137 157 / 85%);
    cursor:pointer;
    transition: .3s linear;
}

#website .right-side .playlist .active{
    color:aqua;
}

#website .right-side .playlist h4:hover{
    color:white;
}

#website .right-side .song-menu{
    width:100%;
    height:76%;
    margin-top:20px;
    overflow: auto;
}

#website .right-side .song-menu::-webkit-scrollbar{
    display: none;
}


#website .right-side .song-menu li{
    list-style: none;
    position:relative;
    padding:5px 0px 5px 20px;
    display: flex;
    align-items:center;
    cursor:pointer;
    margin-bottom:10px;
    transition: .3s linear;
}

#website .right-side .song-menu li:hover{
    background-color:rgb(79, 10, 149);
}

#website .right-side .song-menu li img{
    width:30px;
    height:30px;
    margin-left:25px;
}

#website .right-side .song-menu li h5{
    font-size:11px;
    margin-left:15px;
    width:170px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#website .right-side .song-menu li span,.subtitle{
    color: rgb(122, 122, 132);
}


/* footer section css */

footer{
    display:flex;
    align-items: center;
    padding:0px 20px;
}

footer img{
    width:35px;
    height:35px;
}

footer h5{
    width:135px;
    margin-left:15px;
    color:white;
    line-height:17px;
    overflow: hidden;  
    text-overflow: ellipsis;
    white-space: nowrap;
}

footer h5 .subtitle{
    font-size:11px;
}

footer .icons{
    font-size:28px;
    color:white;
    margin:0px 20px 0px 40px;
    display:flex;
    align-items:center;
}

footer .icons .bi{
  cursor:pointer;
  margin:0px 15px;
}

footer span{
    color:white;
    font-size:15px;
    font-weight:400;
}
footer .seek-bar{
    position:relative;
    width:50%;
    margin:0px 15px 0px 20px;
}
footer .seek-bar .bar{
    position:absolute;
    width:100%;
    height:2px;
    background-color: aqua;
    cursor:pointer;
}
footer .seek-bar .dot{
    position:absolute;
    width:8px;
    height:8px;
    border-radius: 50%;
    top:-3px;
    background-color: aqua;
    cursor:pointer;
}
footer .seek-bar .dot::before{
    content:'';
    position:absolute;
    width: 17px;
    height:17px;
    border-radius: 50%;
    border:1px solid aqua;
    top:-5px;
    left:-5px;
}
footer .seek-bar .dot:hover{
    box-shadow:0px 0px 5px 2px turquoise;
}
footer .volume .bi{
    font-size:20px;
    color:white;
    margin:0px 2px 0px 40px;
}

footer .volume input{
    height:4px;
    width:50%;
    position:relative;
    top:-5px;
}

footer .icons #pause{
   display:none;
}
